.header {
    position: fixed;
    width: 100%;
    background-color: transparent;
    height: auto;
    z-index: 100;

    @media screen and (max-width: 768.98px) {
        position: fixed;
    }

    &.scroll {
        background-color: $primary-color;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    @media screen and (max-width: 768.98px) {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    @media screen and (min-width: 769px) {
        padding-top: 21px;
        padding-bottom: 21px;
    }
}

.header__logo {
    width: 100px;

    @media screen and (min-width: 769px) {
        width: 216px;
        margin-right: 200px;
    }

}

// Animation elements

.header__logo {
    transform: translate(0px, -100%);
    opacity: 0;
}

.header__logo._active {
    transform: translate(0px, 0px);
    transition: all 0.6s ease 0.6s;
    opacity: 1;
}

// ================

.header__list {
    @media screen and (max-width: 768.98px) {
        text-align: left;
    }

    @media screen and (min-width: 769px) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 34px;
        row-gap: 15px;
    }
}

.header__item:not(:last-child) {
    @media screen and (max-width: 768.98px) {
        margin-bottom: 19px;
    }
}

.header__link {
    display: block;
    color: $text-color2;

    @media screen and (max-width: 768.98px) {
        color: $primary-color;
    }
}

.header__link {

    &:hover,
    &:focus {
        color: $text-color1;
    }
}

// Mobile menu

.header__button {
    display: inline-flex;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;


    @media screen and (min-width: 769px) {
        display: none;
    }
}

.header__button-burger {
    fill: $text-color2;
}

.header__button .header__button-close {
    fill: $text-color2;
    display: none;
}


.header__button.is-open .header__button-close {
    display: block;
    fill: $text-color2;
}

.header__button.is-open .header__button-burger {
    display: none;
}

.header__menu {
    @media screen and (max-width: 768.98px) {
        opacity: 0;
        position: absolute;
        top: 100%;
        left: -100%;
        z-index: 1;
        width: 100%;
        background-color: $text-color2;
        padding: 20px;

        &.is-open {
            opacity: 1;
            left: 0px;
            transition: left 0.4s;
        }
    }
}